# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.class

# Build Artifacts

.gradle/
build/
target/
bin/
dependency-reduced-pom.xml

# Eclipse Project Files

.classpath
.project
.settings/
*.class

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea

README.html
